{% extends 'dashboard/base.html' %} 
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        {% for i in notes %}
        <div class="col-md-3">
            <a href="{% url 'notes-detail' i.id %}">
                <div class="card">
                    <div class="card-header">{{i.title}}</div>
                    <div class="card-body">{{i.description}}</div>
                    <div class="card-footer mt-auto "><a href="{% url 'delete-note' i.id %}">
                        <i class="fa fa-trash fa-2x"></i></a>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <br><br>

    </div>
</div>
<br><br>
<div class="container">
    <form method="POST">
        {%csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Notes</legend>
        </fieldset>
        {{form | crispy }}
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Create
            </button>
        </div>
    </form>
</div>

{% endblock content %}